*{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}


h2 {color: #6e03d3;
    font-size: 24px;
}

/* Estilo de los textos*/

.texto {
    font-size: 14px;    
    color: #6a6968;
}



/*navbar*/

.navbar-nav h5 {
    color: #fe6601;

}



/* Section Index */

.img-principal-index {
    width: 100%;

}

.img-principal-index img {
    width: 100%;

}


.articulo-index {
    width: 350px;
    
}

.articulo-index a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 20px 0;

}


.articulo-index img {
    width: 100%;
    display: flex;
    align-items:  center;
   
}

.articulo-index h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px

}

.articulos-home{
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px 0;


}

/* Articulo nosotros*/


.row{
    display: flex;
    width: 100%;
    justify-content: center;
   
    
}



.texto {
    display: flex;
    text-align: justify;

}

.informacion{
    display: flex;
    flex-direction: column;

}

.informacion h2{
    display: flex;
    justify-content: center;
    margin: 20px;

}


.articulo-nosotros {
    height: 250;
    width: 250px;
}

.articulo-nosotros img {
    width: 100%;
    margin: 5px;

}

.container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  
}

.articulo-nosotros h2{
    color: #6e03d3;
    font-size: 24px;
    font-weight: bold;
    text-align: center;


}

.contenedor2{
    margin: 30px;

}



/* Articulo sercivios*/

.articulo-servicios {
    height: 250;
    width: 250px;
}

.articulo-servicio img {
    width: 100%;
}

/* Articulo ong*/

.articulo-ong {
    height: 250;
    width: 250px;
}

.articulo-ong img {
    width: 100%;
}

.publicidad {
    display: flex;
    justify-content: center;
    width: 100%;
}

.publicidad img{
    width: 100%;
    margin-bottom: 30px;

}


/* Estilo de Footer*/

.pie {
    background-color: #8308f6;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.pie p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
 
}


.art-contacto {
    height: 250;
    width: 250px;
}

.art-contacto img {
    width: 100%;
}