/*ASIDE HOME*/
.publicidad {
    display: flex;
    justify-content: center;
    width: 100%;

    img{
        width: 100%;
        margin-bottom: 30px;
    
    }
}

/*ASIDE NOSOTROS*/
.contenedor2{
    margin: 30px;

}

.articulo-nosotros {
    height: 250;
    width: 250px;

    img {
        width: 100%;
        margin: 5px;
    
    }

    h2{
        color:$color-second;
        font-size: 24px;
        text-align: center;
        
    }
}

/*ASIDE ONG*/
.fotos-ong{
    display: flex;
    margin: 30px 0 10px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.articulo-ong {
   
    @include sizes (300px, 230px);
    
    img {
        width: 100%;
    }
}

/*ASIDE CONTACTO*/

.rrss{
    display: flex;

}

.art-contacto {
    width: 150px;

    img {
        width: 100%;
    }
}
