/*FOOTER*/
.pie {
    background-color: $color-second;
    font-size: 18px;
    display: flex;
    color: $color-text-pie;
    display: flex;
    justify-content: center;
    flex-direction: column;

    }

    p{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
     
    }
