/*FOOTER*/
.pie {
    background-color: #8308f6;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
     
    }
}
