h2 {color: $color-second;
    font-size: 24px;
    font-weight: bold;
}

/* Estilo de los textos*/

.texto {
    font-size: 18px;    
    color: $color-parrafo;
    display: flex;
    text-align: justify;

}

/* Section Index */

.img-principal-index {
    width: 100%;

    img {
        width: 100%;
    
    }

}

.articulos-home{
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px 0;
}

.articulo-index {
    width: 350px;

    a {
        display: flex;
        text-decoration: none;
        justify-content: center;
        margin: 20px 0;
    
    }

    img {
        width: 100%;
        display: flex;
        align-items:  center;

    }

    h2 {
        font-size: 30px;
        margin: 10px

    }
    
}

/* Articulo nosotros*/
.row{
    display: flex;
    width: 100%;
    justify-content: center;

    
}

.informacion{
    display: flex;
    flex-direction: column;

    h2{
        display: flex;
        justify-content: center;
        margin: 20px;
    
    }

}

/* Articulo sercivios*/

.container-servicios{
    display: flex;
    flex-direction: column;

}

.titulo{

    &-individual{
        display: flex;
        justify-content: end;
        }

     }   

     
.estadia{

    &-individual{
        display: flex;
        flex-direction: row-reverse;
        @include espacios (0,10px);
     
    }

    &-compartida{
        display: flex;
        flex-direction: row;
        @include espacios (0,10px);
    }    

    &-diaria{   
        display: flex;
        flex-direction: row-reverse;
        @include espacios (0,10px);
    } 

}

.imagen{

    &-individual{
        @include espacios (0,10px);
        }

    &-compartida{
        @include espacios (0,10px);
        }  

    &-diaria{
        @include espacios (0,10px);
        }      
    }   

.parrafo{

    &-1{
        margin: 30px;
        display: flex;
                           
        }

    &-2{
        margin: 30px;
        display: flex;
        
        }

}


/* ESTILOS ONG*/

.titulo-ong{
    margin: 30px;

}

.container-ong{
    display: flex;
    flex-direction: column;
            
}  

.imagen-ong{
    margin: 20px;
    display: flex;
  
}


.texto-ong{
    margin: 10px;
    display: flex;
             
}


/*Estilos Contacto*/

.info-contacto{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    @include espacios (20px, 30px);

}


