//Tipografias
$title-principal: "Open Sans", sans-serif;
$title-second: "Open Sans", sans-serif;
$parrafos: "Open Sans", sans-serif;


//Colores
$color-primary: #fe6601;
$color-second: #8308f6; 
$color-parrafo: #6a6968;
$color-text-pie:  #ffffff;


//Maps
$font-variant:(
    light:300,
    regular:400,
    bold:700,
    extra-bold:900,
);

@each $tipo, $espesor in $font-variant{
    .mlfv-#{$tipo}{
        font-variant:$espesor;

    }
}


